* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Spinnaker", sans-serif;
  background-color: rgb(252, 247, 240);
  /* width: 100vh; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-style: normal;
  font-weight: 700;
  height: 100px;
  font-size: 40px;
  text-align: center;
  background-color: #be9696;
  width: 301px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 10px 8px;
  margin-bottom: 11px;
  margin-top: 50px;
}
h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  word-spacing: 5px;
  text-align: center;
  background-color: #be9696;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 40px;
}

#activities-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-around;
  background-color: #9ad4d6;
  padding-top: 80px;
}

h5 {
  font-size: 25px;
}

/* .activity {
  width: 100%;
  margin: 0 50px;
} */
.activity,
p {
  font-size: 18px;
  padding-bottom: 10px;
}

.img-activity {
  border-radius: 450%;
  width: 100px;
  height: 100px;
}
#guide-section {
  background-color: #f2fdff;
  width: 500px;
  border: 4px solid #9ad4d6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: 5px 10px #03045e;
}

.card-text {
  text-align: left;
  padding: 20px;
}

.card-text,
h3 {
  font-size: 22px;
}
.card-img {
  height: 200px;
  width: 200px;
}

@media (min-width: 320px) and (max-width: 975px) {
  h1 {
    /* width: 100%; */
  }
}
